<div class="wrapper">
  <h1 class="txt-align-center">Bem-vindo ao Smart MEI!</h1>
  <p>
    Estamos felizes em tê-lo conosco. Agora que seu acesso foi concluído, vamos
    seguir com o próximo passo para configurar sua conta.
  </p>
  <p>
    Por favor, prossiga com o <b>cadastro de sua empresa</b> e as
    <b>informações do empresário</b>. Essas informações são essenciais para
    garantir que sua gestão financeira seja personalizada e eficiente.
  </p>
  <p>
    Vamos começar a otimizar suas finanças e simplificar a gestão do seu MEI!
  </p>
  <div class="btn-wrapper">
    <a href="/business-person-register" mat-flat-button class="w-30">
      Continuar
    </a>
  </div>
</div>

<router-outlet></router-outlet>
